.estilo_INICIOS{
background-color:#FDB7CC;
}

.estilo_fotos{
background-color:#000000;
margin-top: 50px !important;
margin-bottom: 50px;
}

.estilo_siguiente{
margin-bottom: 50px;
}

h1{
  margin-top: 100px !important;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px;
  font-family:"Consolas", monospace;
  font-size:25px;
  font-style:normal;
  color:#000000;
}





#menuhorizontal{
  margin:20px;
  padding:20px;
  list-style-type:none;
}
#menuhorizontal a {
  width:190px;
  text-decoration-style:solid;
  text-align:center;
  color:#000000;
  background-color:#FDB7CC;
  padding:3px 2px;
  border-right:2px solid black;
  display:block;
}

#menuhorizontal li {
  float:left;
}


h2{
   margin-top: 50px !important;
  font-family:"Consolas", monospace;
  font-weight:bold;
  color:#000000;
}


#pie{
 
  padding:210px;
  background-color:#000000;
  clear:left;
  font-family:"Consolas", monospace;
}

p{
font-family:"Consolas", monospace;
font-size:17px;
margin-top:-20px;
margin-bottom: 0px;
color: #FDB7CC;

}

h3{
margin-top: -200px !important;
margin-bottom: 90px;
font-family:"Consolas", monospace;
font-size:30px;
color:#FDB7CC;
}

#columna1-pie
{ float: left;
  width: 200px;
  margin-left: -125px;
  padding: 4rem;
}

#columna2-pie
{
  margin-left: 180px;
  margin-right: 250px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding: 4rem;
}

#columna3-pie{
  float:right;
  width:200px;
  padding:4rem;
  margin-right:-50px;
}
