body {
 background-color:#000000;
}

.estilo_siguiente{
background-color:#FDB7CC;
margin-bottom: 50px;
}

.estilo_encuesta{
margin-bottom: 50px;
}

h1{
  margin-top: 100px !important;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 50px;
  font-family:"Consolas", monospace;
  font-size:25px;
  font-style:normal;
  color:#FDB7CC;
}


h3{
   margin-top: 100px !important;
  font-family:"Consolas", monospace;
  font-weight:bold;
  color:#FDB7CC;
}

p{
  font-family:"Consolas", monospace;
  font-weight:bold;
  color:#ffffff;
margin-bottom:50px;
}


table {
   border: 1px solid #ffa6f4;
   border-spacing: 0;
   font-family:"Consolas", monospace;
  font-weight:bold;
  color:#ffa6f4;
  margin-bottom: 100px;
}
th, td {
   border: 1px solid #ffa6f4;
   border-spacing: 0;
   font-family:"Consolas", monospace;
  font-weight:bold;
  color:#ffa6f4;
}

#menuhorizontal{
  margin:20px;
  padding:20px;
  list-style-type:none;
}
#menuhorizontal a {
  width:190px;
  text-decoration-style:solid;
  text-align:center;
  color:#FDB7CC;
  background-color:#000000;
  padding:3px 2px;
  border-right:2px solid white;
  display:block;
}

#menuhorizontal li {
  float:left;
}

#menuhorizontal a:hover




