body{
    background-color: #FDB7CC;
}

/*cabecera*/
.imgcabecera{
    width: 100%;
}


/*menu*/
.menu{
    background-color: #E992AC;
}

.menu ul{
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu ul li{
    font-family:"Consolas", bold;
    display: inline-block;
}

.menu ul li a{
    display: block;
    color: black;
    padding: 10px 35px;
    text-decoration: none;
    
}


/* Cambia color fondo al pasar el cursor */
.menu ul li a:hover{
    background-color:#8F8F8F;
}


/*contenido*/

* {
    box-sizing: border-box;
}

.contenido{
    content: "";
    clear: both;
    display: table;
}

.tittle{
    font-family:"Consolas", bold;
    float: left;
    width: 100%;
    padding: 5px;
    margin-bottom: 2%;
    margin-top: 3%;
    text-align: center;
}

.imagenI{
    float: left;
    width: 15%;
    margin-left: 18%;
    margin-top: 7%;
}

.imagenI img{
    border-radius: 5%;
}

.textoD {
    font-family:"Consolas", bold;
    float: right;
    width: 45%;
    padding: 30px;
    margin-right: 18%;
    background-color:#A2FF99;
    line-height: 30px;

}


.textoI {
    font-family:"Consolas", bold;
    float: left;
    width: 45%;
    padding: 30px;
    margin-left: 18%;
    background-color:#8F8F8F;
    line-height: 30px;

}

.textoVacio {
    font-family:"Consolas", bold;
    float: right;
    width: 45%;
    padding: 5px;
    margin-right: 16%;
    background-color:#E992AC;

}

